.container {
  width: 90%;
  margin: 0 auto;
}
.services .container {
  text-align: center;
}
body {
  background-color: #e5e5e5e5;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}

.logo {
  height: 40px;
}

.menu {
  display: flex;
  gap: 30px;
  list-style: none;
}

.menu__link {
  color: black;
  text-decoration: none;
  font-size: 16px;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.intro__left {
  width: 30%;
}

.intro__title {
  font-size: 45px;
  font-weight: 400;
  color: black;
  margin-top: 10%;
}

.intro__text {
  font-size: 18px;
  width: 350px;
  margin: 20px 0;
  color: #7d7987;
}

.intro__btn {
  background-color: #458ff6;
  border-radius: 50px;
  width: 150px;
  height: 50px;
  color: white;
}

.intro__img {
  width: 45%;
}

.services {
  width: 100%;
  padding-top: 20px;
}

.services__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services__title {
  font-size: 36px;
  text-align: center;
  margin: auto;
}

.services__hr {
  height: 5px;
  background-color: black;
  border-radius: 50px;
  margin: 40px 0px;
  width: 80px;
}

.services__text {
  width: 900px;
  text-align: center;
  color: #7d7987;
}

.services__cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  padding-top: 60px;
}

.cards__card {
  width: 300px;
  height: 310px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
  justify-self: center;
  padding: 20px;
}
.cards__text {
  width: 240px;
  color: #7d7987;
}
.services__btn {
  margin-top: 50px;
  background-color: white;
  border: 2px solid #458ff6;
  border-radius: 50px;
  width: 150px;
  height: 50px;
  color: #458ff6;
}

.tekst {
  width: 100%;
  padding-top: 150px;
}

.tekst__container {
  display: flex;
  justify-content: center;
  gap: 200px;
}
.tekst__left {
  width: 30%;
}

.tekst__img {
  width: 500px;
  margin-top: -20px;
}
.tekst__hr {
  height: 5px;
  background-color: black;
  border-radius: 50px;
  margin: 40px 0px;
  width: 80px;
}

.tekst__title {
  color: black;
  width: 300px;
  font-size: 35px;
  font-weight: 700;
}

.tekst__text {
  color: #7d7987;
  font-size: 18px;
  width: 470px;
}
.tekst__btn {
  margin-top: 50px;
  background-color: white;
  border: 2px solid #458ff6;
  border-radius: 50px;
  width: 150px;
  height: 50px;
  color: #458ff6;
}

.promo {
  width: 100%;
  padding-top: 120px;
}

.promo__container {
  display: flex;
  justify-content: center;
  gap: 200px;
}
.promo__left {
  width: 30%;
}

.promo__img {
  width: 500px;
  margin-top: -20px;
}
.promo__hr {
  height: 5px;
  background-color: black;
  border-radius: 50px;
  margin: 40px 0px;
  width: 80px;
}

.promo__title {
  color: black;
  width: 300px;
  font-size: 35px;
  font-weight: 700;
}

.promo__text {
  color: #7d7987;
  font-size: 18px;
  width: 470px;
}
.promo__btn {
  margin-top: 50px;
  background-color: white;
  border: 2px solid #458ff6;
  border-radius: 50px;
  width: 150px;
  height: 50px;
  color: #458ff6;
}

.testimonial {
  width: 100%;
  padding-top: 150px;
}

.testimonial__container {
  background-color: #458ff6;
  padding: 20px;
  width: 1000px;
  border-radius: 25px;
  text-align: center;
  color: white;
}

.testimonial__title {
  font-size: 36px;
  font-weight: 700;
}

.testimonial__hr {
  height: 2 px;
  background-color: white;
  border-radius: 50px;
  margin: 40px auto 0px;
  width: 80px;
}

.testimonial__card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}

.testimonial__info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.testimonial__img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 4px solid #fff;
}

.testimonial__name {
  font-size: 22px;
  font-weight: 600;
}

.testimonial__job {
  margin-top: 5px;
}

.testimonial__text {
  width: 340px;
  font-size: 18px;
  line-height: 1.6;
}

.articles {
  width: 100%;
  padding-top: 120px;
}


.articles__title {
  font-size: 36px;
  text-align: center;

}

.articles__hr {
  height: 2px;
  background-color: black;
  border-radius: 50px;
  margin: 40px auto 0px;
  width: 80px;
}

.articles__cards {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 40px;
}

.article__card {
  width: 330px;
  background: #fff;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.article__img {
  width: 100%;
  border-radius: 15px;
}

.article__subtitle {
  font-size: 20px;
  width: 250px;
}

.article__text {
  font-size: 16px;
  color: #7d7987;
  width: 220px;
}

.article__link {
  color: #458ff6;
  text-decoration: none;
}

.articles__btn {
  display: block;
  margin: 40px auto;   
  background-color: white;
  border: 2px solid #458ff6;
  border-radius: 50px;
  width: 150px;
  height: 50px;
  color: #458ff6;
}

.footer{
  width: 100%;
  height: 300px;
  background-color: #67c3f3;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content:space-between;
  color: white;
  padding: 50px;
}

.footer__left{
  width: 350px;
}
.footer {
  padding: 20px 0;
}

.footer__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.footer__menu{
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-top: 20px;
  gap:10px;
  list-style: none;
  padding-left: 0px;
}

.footer__link {
  color: #7d7987;
  text-decoration: none;
}